{{ role_name }}
===============

A brief description of the {{ role_name }} goes here.

Requirements
------------


Role Variables
--------------

Paste here defaults/main.yml

Dependencies
------------

 - hxpro.bootstrap

Example Playbook
----------------

    - hosts: servers
      roles:
         - role: {{ role_name }}
           {{ role_name }}_variable: value_example

License
-------

WTFPL

Author Information
------------------

Matěj Koudelka <matej@hxpro.cz>

