[defaults]
inventory = .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
library = library

roles_path = roles
host_key_checking = False

callback_plugins = callback_plugins/


log_path = ansible.log

ansible_managed = This file is managed by Ansible.%n
  template: {file}
  date: %Y-%m-%d %H:%M:%S
  user: {uid}
  host: {host}

[privilege_escalation]
become=True
become_method=sudo
become_user=root
become_ask_pass=False

